
<button class="swipe-left">Swipe Left</button>

<div class="restaurant-details">
  <figure class="restaurant-picture">
    <img src=" <%= restaurant.get("image_url") %> " alt="" />
  </figure>
  <ul class="restaurant-stats">
    <li>
      <h1 class="restaurant-title"> <%= restaurant.get("name") %> </h1>
    </li>

    <li>
      <%= restaurant.get("categories") && restaurant.get("categories").join(", ") %>
    </li>

    <li>
      <%= restaurant.get("rating") %> stars
    </li>

    <% restaurant.get("address") && restaurant.get("address").forEach(function(line) { %>
      <li><%= line %></li>
    <% }) %>

    <li>
      <a href="<%= restaurant.get("mobile_url") %>">View on Yelp</a>
    </li>

  </ul>
</div>

<button class="swipe-right">Swipe Right</button>
