<!DOCTYPE html>
<html>
<head>
  <title>NoYouChoose</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,400italic' rel='stylesheet' type='text/css'>
  <script src="//js.pusher.com/2.2/pusher.min.js"></script>
  <script>
    window.pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>');
  </script>
</head>
<body>
  <div id="fb-root"></div>

<%= yield %>

  <div class="loading-modal">
    <div class="modal-image" id="spinner"></div>
  </div>
</body>

</html>
